<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{site.user_description}}</p>
</div>

<div class="user">
  <div class="tech" style="width: 100%; text-align: center">
    <h2>Language</h2>
    <i class="devicon-python-plain colored"></i>
    <i class="devicon-javascript-plain colored"></i>

    <i class="devicon-jquery-plain colored"></i>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-css3-plain-wordmark colored"></i>
  </div>
</div>

<div class="user">
  <div class="tech">
    <h2>Server</h2>
    <i class="devicon-linux-plain colored"></i>
    <i class="devicon-docker-plain colored"></i>
    <i class="devicon-vagrant-plain-wordmark colored"></i>
  </div>
  <div class="tech">
    <h2>FrameWork</h2>
    <i class="devicon-django-plain colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-vuejs-plain colored"></i>
  </div>
  <div class="tech">
    <h2>Tool</h2>
    <i class="devicon-pycharm-plain colored"></i>
    <i class="devicon-vscode-plain-wordmark colored"></i>
    <i class="devicon-atom-original"></i>
  </div>
</div>

<div class="user">
  <div class="tech" style="width: 50%; text-align: center">
    <h2>DataBase</h2>
    <i class="devicon-mysql-plain-wordmark colored"></i>
    <i class="devicon-mongodb-plain-wordmark colored"></i>
  </div>
  <div class="tech" style="width: 50%; text-align: center">
    <h2>VersionControl</h2>
    <i class="devicon-git-plain colored"></i>
    <i class="devicon-github-original colored"></i>
    <i class="devicon-gitlab-plain-wordmark colored"></i>
  </div>
</div>
