<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:image" content="{{ "/assets/css/main.png" | prepend:
  site.baseurl }}" />

  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>
  <meta name="description" content="{{ "/assets/css/main.png" | prepend:
  site.baseurl }}" /> <link rel="stylesheet" href="{{ "/assets/css/main.css" |
  prepend: site.baseurl }}">
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css"
  />
</head>
